@import '../../../assets/css/config.scss';
.layout-container {
    margin: 0px auto;
    width: 100%;
    padding: 0px 50px;
    @media screen and (max-width: $sm) {
        padding: 0px 5px;

    }
}