:root {
    
    --orange-100: #F5B09145;
    --orange-300: #F5B091;
    --orange-400: #DA4F37;
    --orange-700: #DA4F37;

    
    --purple-100: #e4bbff;
    --purple-200: #a75be0;
    --purple-300: #9c4fdd;
    --purple-400: #8736d6;
    --purple-500: #8736d6;
    --purple-600: #8736d6;
    --purple-700: #8736d6;
    --purple-800: #8736d6;
    --purple-900: #8736d6;
    --purple-1000: #8736d6;

    --black-0: #000000;
    --gray-300: #C9C9C9B2;
    --gray-400: #ACACAC;
}
  
