:root {
    
    --orange-100: #F5B09145;
    --orange-300: #F5B091;
    --orange-400: #DA4F37;
    --orange-700: #DA4F37;

    --black-0: #000000;
    --gray-300: #C9C9C9B2;
    --gray-400: #ACACAC;
}
  
