.logo{
    width:140px !important;
}

.search,
.search:active,
.search:hover {
    border: 1px solid #ACACAC;
    background-color: #f7f7f7;
    color: #ACACAC;
    border-radius: 40px;
    font-size: 1.25vh;
    padding: 10px 15px 8px;
}

