@import '../../../assets/css/config.scss';

.logo {
    width: 140px !important;
}

.search,
.search:active,
.search:hover {
    border: 1px solid #ACACAC;
    background-color: #f7f7f7;
    color: #ACACAC;
    border-radius: 40px;
    font-size: 1.25vh;
    padding: 10px 15px 8px;
}

.avatarImage{
    background-color: var(--purple-100);
    color: var(--purple-500);
}

.search-desktop {
    display: none;

    input {
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
    }

    @media screen and (min-width: $lg) {
        display: block;
    }
}

.header-layout {
    padding-left: 50px;
    padding-right: 50px;
}

.header-row {
    justify-content: space-between;
    
    @media screen and (max-width: $sm) {
        flex-direction: column;
        justify-content: center;
    }
}
