.dashboard-menu{
    border: 1px solid var(--purple-200);
    padding: 36px 6px;
    border-radius: 6px;
    color: var(--purple-200);
    width: 200px;

    span{
        color: var(--purple-200)
    }

    &:hover{
        cursor: pointer;
        color: #ffffff;
        background-color: var(--purple-200);
        span{
            color: #ffffff;
        }
    }
}